*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    

}

.exercise{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:600px) {
   
    
}

@media screen and (max-width:300px) {
    
}

