*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    

}

.coolexercise{
    display: flex;
    align-items: center;
    justify-content: center;
  
    
}
.exercisefinal{
    margin-top: 5%;
}
.title{
    text-transform: capitalize;
    letter-spacing: .1em;
}
.grid{
    background-color: #e0e0e0;
}
.myimg{
    height: 80%;
    width: 80%;
    border-radius: 5px;
}

@media screen and (max-width:600px) {
   
    
}

@media screen and (max-width:300px) {
    
}

