*{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}
.inputs{
    padding: .4em;
    background-color: white;
    border: 1px solid #616161;
    border-radius: .3em;
    justify-content: stretch;
    width: 100%;
    color: black;
}
.btn{
    padding: .3em;
    color:white;
    border-radius: .2em;
    border: none;
    background-color:#616161;
    justify-content: stretch;
    width: 100%;
}
.number{
    margin-bottom: .4em;
    justify-content: stretch;
    width: 100%;
}
.myweight{
    margin-top: .5em;
    justify-content: stretch;
    width: 100%; 

}
.gender{
    margin-bottom: .4em;
    justify-content: stretch;
    width: 100%; 
}
.mybtn{
    margin-top: .5em;
    justify-content: stretch;
    width: 100%;
}
.mytext{
    justify-content: stretch;
    width: 100%;

}

.formwrap{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    
}
.form{
    padding-left: 35%;
    padding-right: 35%;
    align-items: stretch;
    width: 100%;
    position: fixed;
    justify-content: center;
    
}

@media screen and (max-width:700px) {
    .formwrap{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20vh;
        
    }
    .form{
        padding-left: 25%;
        padding-right: 25%;
        align-items: stretch;
        width: 100%;
        position: fixed;
        justify-content: center;
        
    }
   
    
}

@media screen and (max-width:500px) {
    .form{
        padding-left: 20%;
        padding-right: 20%;
        align-items: stretch;
        width: 100%;
        position: fixed;
        justify-content: center;
        
    }
    
}

@media screen and (max-width:300px) {
    .form{
        padding-left: 10%;
        padding-right: 10%;
        align-items: stretch;
        width: 100%;
        position: fixed;
        justify-content: center;
        
    }
    
}