*{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}
.inputs{
    padding: .4em;
    background-color: white;
    border: 1px solid white;
    border-radius: .3em;
    justify-content: stretch;
    width: 100%;
    color: black;
}
.btn{
    padding: .3em;
    color: black;
    border-radius: .2em;
    border: none;
    background-color:wheat;
    justify-content: stretch;
    width: 100%;
}
.number{
    margin-bottom: .4em;
    justify-content: stretch;
    width: 100%;
}
.myweight{
    margin-top: .5em;
    justify-content: stretch;
    width: 100%; 

}
.gender{
    margin-bottom: .4em;
    justify-content: stretch;
    width: 100%; 
}
.mybtn{
    margin-top: .5em;
    justify-content: stretch;
    width: 100%;
}
.mytext{
    justify-content: stretch;
    width: 100%;

}
.formwrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}
.form{
    margin-left: 2%;
    margin-right: 2%;
    background-color:rgb(226, 220, 220);
    padding-left: 8em;
    padding-right: 8em;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 1em;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    
}
@media screen and (max-width:600px) {
   
    
}

@media screen and (max-width:300px) {
    
}