*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

   
    
}
.drugs{
    display: flex;
    align-items: center;
    justify-content: center;
   
    
    
}
.drugspage{
    justify-content: stretch;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 9%;
    align-items: center;
    justify-content: center;
    margin-bottom: 8%;
    
}
.myinputs{
    margin-top: 10%;
    margin-bottom: 3em; 
    
}

.bmi{
    display:flex;
    margin-top: .8em;
    justify-content: center;
    align-items: center;
}
.bmidata{
    margin-top: 1em;
}



@media screen and (max-width:1200px) {
    .drugspage{
        justify-content: stretch;
        width: 100%;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 12%;
        align-items: center;
        justify-content: center;
        margin-bottom: 8%;
    }
    .bmi{
        display:flex;
        margin-top: .8em;
        justify-content: center;
        align-items: center;
    }
    .bmidata{
        margin-top: 2em;
    }
    .myinputs{
        margin-top: 15%;
        margin-bottom: 3em; 
        
    }
    
}

@media screen and (max-width:600px) {
    .drugspage{
        justify-content: stretch;
        width: 100%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 20%;
        align-items: center;
        justify-content: center;
        margin-bottom: 10%;
    }
    .bmi{
        display:flex;
        margin-top: .8em;
        justify-content: center;
        align-items: center;
    }
    .bmidata{
        margin-top: 2em;
    }
    .myinputs{
        margin-top: 20%;
        margin-bottom: 3em; 
        
    }
   
    
}

@media screen and (max-width:300px) {
    .drugspage{
        justify-content: stretch;
        width: 100%;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 25%;
        align-items: center;
        justify-content: center;
        margin-bottom: 8%;
    }
    .bmi{
        display:flex;
        margin-top: .8em;
        justify-content: center;
        align-items: center;
    }
    .bmidata{
        margin-top: 3em;
    }
    .myinputs{
        margin-top: 20%;
        margin-bottom: 6em; 
        
    }
    
}