*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
   
    
}
.drugs{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../public/images/activity.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
}
.drugspage{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 9%;
    align-items: center;
    justify-content: center;
    margin-bottom: 8%;
    
}
.myinputs{
    margin-bottom: 3em; 
    height: 20vh;  
}



@media screen and (max-width:1200px) {
    .drugspage{
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 12%;
        align-items: center;
        justify-content: center;
        margin-bottom: 8%;
    }
    
}

@media screen and (max-width:600px) {
   
    
}

@media screen and (max-width:300px) {
    
}