*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
}
.drugs{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.drugspage{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 9%;
    align-items: center;
    justify-content: center;
    margin-bottom: 8%;
}
